<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Theme" value="System" />
        
        <add key="AutoComplete" value="Config\AutoComplete.xml" />
        <add key="Departments" value="Config\Departments.xml" />
        <add key="Groups" value="Config\Groups.xml" />
        <add key="ConnectionString" value="Config\ConnectionString.xml" />
    </appSettings>
</configuration>